<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            color: #333;
            text-align: center;
        }
        .container {
            margin-top: 50px;
        }
        h1 {
            color: #ff0000;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>An Error Occurred</h1>
    <p th:text="${error}"></p>
    <a href="/customers/">Go to Home</a>
</div>

</body>
</html>
